<header class="s-header">

    <div class="header-logo">
        <a class="site-logo" href="{% url 'index' %}">
            <h2 style="color: aliceblue;">TBB<span style="color: greenyellow;">.</span></h2>
        </a>
    </div>

    <nav class="header-nav">

        <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

        <div class="header-nav__content">
            <h3>Navigation</h3>
            
            <ul class="header-nav__list">
                <li class="current"><a href="{% url 'index' %}">Home</a></li>
                <li><a class="smoothscroll" href="#about" title="about">About</a></li>
                <li><a class="smoothscroll" href="#services" title="services">Services</a></li>
                <li><a href="{% url 'listings' %}" title="listings">Listings</a></li>
                <li><a class="smoothscroll" href="#clients" title="testimonials">Testimonials</a></li>
                <li><a class="smoothscroll" href="#contact" title="contact">Contact</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Sign Up</a></li>
                {% endif %}
            </ul>

            <p>
                Connect with traders and verified agents for seamless barter transactions.
                Experience secure listings, advanced search, and direct negotiation – all in one place.
            </p>

            <ul class="header-nav__social">
                <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                </li>
            </ul>

        </div> <!-- end header-nav__content -->

    </nav>  <!-- end header-nav -->

    <a class="header-menu-toggle" href="#0">
        <span class="header-menu-text">Menu</span>
        <span class="header-menu-icon"></span>
    </a>

</header>
